section{
    width: 80%;
    height: 800px;
    margin: 0 auto;
    /* background-image: url("https://images.unsplash.com/photo-1548222606-6c4f581fd09d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
    /* background-size: cover;
    background-position: top; */
    /* we can also have a shorthand version */
    /* we can have multiple images or an image with a bg color as well */
    background: top/40% url("https://images.unsplash.com/photo-1548222606-6c4f581fd09d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60") no-repeat, blue;
}
h1{
    font-size: 100px;
    color:white;
}