h2 {
     color: teal;
     background-color: rgb(89,151,0); 
     /* color can be represented using rgb(x,y,z) we can find x y and z using online color pickers/palattes */
}

button{
    color: magenta;
    background-color: #5fcffc;
    /* color represented using hexadecimal values */
}
p{
    color: maroon;
    background-color: bisque;
}